* {
    box-sizing: border-box;
}

html {
    background-color: rgb(18, 17, 32);
    color: white;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    margin-block: 3rem;
    justify-content: end;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-inline: auto;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

header a:hover {
    text-shadow: 1px 1px 6px dodgerblue;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url("../web-development/images/Capture\ d’écran\ 2023-05-25\ à\ 17.14\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hello {
    padding-bottom: 6rem;
    font-size: 2rem;
    font-weight: 700;
}

.hero h1 {
    padding-bottom: 2px;
    font-size: 6rem;
    --interval: 1s;
    display: block;
    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2),
    0 0 40px var(--color3), 0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
    color: azure;
    --color1: azure;
    --color2: aqua;
    --color3: dodgerblue;
    --color4: blue;
}

.emo_2007_pro_ultra_max {
    font-size: 2rem;
}

.i_am {
    color: rgba(255, 203, 252, 0.363);
}

.hero img {
    border-radius: 50%;
    width: 10%;
    box-shadow: 0 0 10px 20px rgba(97, 97, 97, 0.596);
}

.work ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.outer {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 1rem;
    margin-inline: auto;
    overflow: hidden;
    position: relative;
}

.inner {
    width: 400px;
    height: 600px;
    margin-inline: auto;
    transition: all 3s ease-in-out;
}

.inner img {
    width: 100%;
}

.inner:hover {
    transform: translateY(-50px);
}

.outer::after {
    content: attr(data-tech) "\A" attr(data-date);
    white-space: pre;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}



.outer:hover::after {
    opacity: 1;
}

footer {
    max-width: 1450px;
    margin-inline: auto;
    justify-content: end;
}

.footer_nav {
    align-items: center;
    padding-bottom: 2rem;
}

.footer_nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.max_width {
    max-width: 1450px;
    margin-inline: auto;
}

.ul_svg img {
    display: flex;
    padding-top: 1rem;
    gap: 15%;
    width: 40px;
    height: 40px;
}

img[src="images/github-mark.svg"] path {
    fill: black;
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}
